<div ui-view>
	<span class="badge">This is Table_1</span>
	<table class="unseentable table-bordered table-striped table-condensed" align="center">
		<thead>
			<tr>
				<!-- table-title headerdib="{{header}}" -->
				<!-- <th ng-repeat="header in tableHeaders track by $index">{{header}}</th> -->
				<th class="table-header">{{tableHeaders[0]}}</th>
				<th class="table-header">{{tableHeaders[1]}}</th>
				<th class="table-header">{{tableHeaders[2]}}</th>
				<th class="table-header">{{tableHeaders[3]}}</th>
				<th class="table-header">{{tableHeaders[4]}}</th>
				<th class="table-header">{{tableHeaders[5]}}</th>
				<th class="table-header">{{tableHeaders[6]}}</th>
				<th class="table-header">{{tableHeaders[7]}}</th>
				<th class="table-header">{{tableHeaders[8]}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="dib in tableContent">
				<td class="table-tdcontent">{{dib.appe}}</td>
				<td class="table-tdcontent">{{dib.com}}</td>
				<td class="table-tdcontent">{{dib.price}}</td>
				<td class="table-tdcontent">{{dib.open}}</td>
				<td class="table-tdcontent">{{dib.high}}</td>
				<td class="table-tdcontent">{{dib.low}}</td>
				<td class="table-tdcontent">{{dib.percent}}</td>
				<td class="table-tdcontent">{{dib.vol}}</td>
				<td class="table-tdcontent">{{dib.change}}</td>
			</tr>
		</tbody>
		<!-- <tfoot>
			<tr>
				<td>
					This is tfoot.
				</td>
			</tr>
		</tfoot> -->
	</table>
	<div class="list-group page1-listgroup-patch">
		<div class="list-group-item">
			<button type="button" class="btn btn-success" ui-sref="p2">Go p2</button>
		</div>
		<div class="list-group-item">
			<button type="button" class="btn btn-primary" ui-sref="p3">Go p3</button>
		</div>
	</div>
</div>